/* src/components/Navbar.css */
.navbar {
    background-color: #032541;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.8em;
    color: #01b4e4;
    font-weight: bold;
  }
  